<html>
  <head>
    <title>Sasha's first Django based blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Sasha's Blog</a></h1>
    </div>
    <div>
      <p>
        published: 02.09.2016, 14:47
      </p>
      <h2>
        <a href="">My first post</a>
      </h2>
      <p>
        Lorem ipsum dolore
      </p>
    </div>
    <div>
      <p>published: 02.09.2016 14:49</p>
      <h2>
        <a href="">My second post</a>
      </h2>
      <p>
        My second post valar morghulis. Valar dohaeris
      </p>
    </div>
  </body>
</html>
